NEXT_PUBLIC_GITHUB_USERNAME=kusokmedi
NEXT_PUBLIC_SITE_URL=https://kusok-medi.ru

# Social Links
NEXT_PUBLIC_GITHUB_URL=https://github.com/kusokmedi
NEXT_PUBLIC_GITHUB_ORG_URL=https://github.com/kusokmedillc
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/kusokmedi52
NEXT_PUBLIC_YOUTUBE_MAIN_URL=https://youtube.com/@kusokmedi
NEXT_PUBLIC_YOUTUBE_EN_URL=https://youtube.com/@kexbytes